


h1 {
    text-align: start;
    margin: 0;
}



.subtitle {
    color:grey;
    margin: 0;
    
}

.header {
    background-image: url(img/img/pattern.png);
    background-color: aqua;
}

.header-img {
    width: 400px;
}
body{
    margin: 0;
}